In [1]:
import pandas
a=pandas.read_csv('landslides.csv')
a.head(10)

,id,date,time,country_name,state/province,population,landslide_type,trigger,fatalities
0,34,3/2/07,Night,United States,Virginia,16000,Landslide,Rain,NaN
1,42,3/22/07,NaN,United States,Ohio,17288,Landslide,Rain,NaN
2,56,4/6/07,NaN,United States,Pennsylvania,15930,Landslide,Rain,NaN
3,59,4/14/07,NaN,Canada,Quebec,42786,Riverbank collapse,Rain,NaN
4,61,4/15/07,NaN,United States,Kentucky,6903,Landslide,Downpour,0.0
5,64,4/20/07,NaN,United States,Kentucky,6903,Landslide,Rain,NaN
6,67,4/24/07,NaN,United States,South Dakota,2540,Landslide,Rain,NaN
7,77,5/21/07,NaN,Colombia,Risaralda,440118,Mudslide,Rain,13.0
8,105,6/27/07,NaN,Ecuador,Zamora-Chinchipe,15276,Landslide,Downpour,NaN
9,106,6/27/07,NaN,Ecuador,Loja,117796,Landslide,Downpour,NaN

In [2]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1693 non-null   int64
 1   date            1690 non-null   object
 2   time            629 non-null    object
 3   country_name    1693 non-null   object
 4   state/province  1692 non-null   object
 5   population      1693 non-null   int64
 6   landslide_type  1692 non-null   object
 7   trigger         1691 non-null   object
 8   fatalities      1446 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 119.2+ KB

In [3]:
a.isna().sum()

id                   0
date                 3
time              1064
country_name         0
state/province       1
population           0
landslide_type       1
trigger              2
fatalities         247
dtype: int64

In [4]:
a=a[-a['date'].isnull()]
print(a)

        id     date   time   country_name  state/province  population  \
0       34   3/2/07  Night  United States        Virginia       16000
1       42  3/22/07    NaN  United States            Ohio       17288
2       56   4/6/07    NaN  United States    Pennsylvania       15930
3       59  4/14/07    NaN         Canada          Quebec       42786
4       61  4/15/07    NaN  United States        Kentucky        6903
...    ...      ...    ...            ...             ...         ...
1688  7535  12/7/15    NaN  United States  North Carolina        1646
1689  7537  2/22/16   0:00  United States   West Virginia       51400
1690  7539  2/23/16    NaN  United States   West Virginia        2406
1691  7540  2/26/16  21:06  United States   West Virginia        1048
1692  7541   3/2/16   8:00  United States         Vermont        2066

          landslide_type   trigger  fatalities
0              Landslide      Rain         NaN
1              Landslide      Rain         NaN
2              Landslide      Rain         NaN
3     Riverbank collapse      Rain         NaN
4              Landslide  Downpour         0.0
...                  ...       ...         ...
1688            Rockfall       NaN         0.0
1689            Mudslide   Unknown         0.0
1690           Landslide      Rain         0.0
1691            Rockfall   Unknown         0.0
1692            Rockfall   Unknown         0.0

[1690 rows x 9 columns]

In [5]:
a['time']=a['time'].fillna("Невідомо")

In [6]:
print(a)

        id     date      time   country_name  state/province  population  \
0       34   3/2/07     Night  United States        Virginia       16000
1       42  3/22/07  Невідомо  United States            Ohio       17288
2       56   4/6/07  Невідомо  United States    Pennsylvania       15930
3       59  4/14/07  Невідомо         Canada          Quebec       42786
4       61  4/15/07  Невідомо  United States        Kentucky        6903
...    ...      ...       ...            ...             ...         ...
1688  7535  12/7/15  Невідомо  United States  North Carolina        1646
1689  7537  2/22/16      0:00  United States   West Virginia       51400
1690  7539  2/23/16  Невідомо  United States   West Virginia        2406
1691  7540  2/26/16     21:06  United States   West Virginia        1048
1692  7541   3/2/16      8:00  United States         Vermont        2066

          landslide_type   trigger  fatalities
0              Landslide      Rain         NaN
1              Landslide      Rain         NaN
2              Landslide      Rain         NaN
3     Riverbank collapse      Rain         NaN
4              Landslide  Downpour         0.0
...                  ...       ...         ...
1688            Rockfall       NaN         0.0
1689            Mudslide   Unknown         0.0
1690           Landslide      Rain         0.0
1691            Rockfall   Unknown         0.0
1692            Rockfall   Unknown         0.0

[1690 rows x 9 columns]

In [7]:
a.isna().sum()

id                  0
date                0
time                0
country_name        0
state/province      1
population          0
landslide_type      1
trigger             2
fatalities        247
dtype: int64

In [8]:

a['fatalities']=a['fatalities'].fillna((a['fatalities'].mean()))

In [9]:
print(a)

        id     date      time   country_name  state/province  population  \
0       34   3/2/07     Night  United States        Virginia       16000
1       42  3/22/07  Невідомо  United States            Ohio       17288
2       56   4/6/07  Невідомо  United States    Pennsylvania       15930
3       59  4/14/07  Невідомо         Canada          Quebec       42786
4       61  4/15/07  Невідомо  United States        Kentucky        6903
...    ...      ...       ...            ...             ...         ...
1688  7535  12/7/15  Невідомо  United States  North Carolina        1646
1689  7537  2/22/16      0:00  United States   West Virginia       51400
1690  7539  2/23/16  Невідомо  United States   West Virginia        2406
1691  7540  2/26/16     21:06  United States   West Virginia        1048
1692  7541   3/2/16      8:00  United States         Vermont        2066

          landslide_type   trigger  fatalities
0              Landslide      Rain    1.462231
1              Landslide      Rain    1.462231
2              Landslide      Rain    1.462231
3     Riverbank collapse      Rain    1.462231
4              Landslide  Downpour    0.000000
...                  ...       ...         ...
1688            Rockfall       NaN    0.000000
1689            Mudslide   Unknown    0.000000
1690           Landslide      Rain    0.000000
1691            Rockfall   Unknown    0.000000
1692            Rockfall   Unknown    0.000000

[1690 rows x 9 columns]

In [10]:
a.head(20)

,id,date,time,country_name,state/province,population,landslide_type,trigger,fatalities
0,34,3/2/07,Night,United States,Virginia,16000,Landslide,Rain,1.462231
1,42,3/22/07,Невідомо,United States,Ohio,17288,Landslide,Rain,1.462231
2,56,4/6/07,Невідомо,United States,Pennsylvania,15930,Landslide,Rain,1.462231
3,59,4/14/07,Невідомо,Canada,Quebec,42786,Riverbank collapse,Rain,1.462231
4,61,4/15/07,Невідомо,United States,Kentucky,6903,Landslide,Downpour,0.000000
5,64,4/20/07,Невідомо,United States,Kentucky,6903,Landslide,Rain,1.462231
6,67,4/24/07,Невідомо,United States,South Dakota,2540,Landslide,Rain,1.462231
7,77,5/21/07,Невідомо,Colombia,Risaralda,440118,Mudslide,Rain,13.000000
8,105,6/27/07,Невідомо,Ecuador,Zamora-Chinchipe,15276,Landslide,Downpour,1.462231
9,106,6/27/07,Невідомо,Ecuador,Loja,117796,Landslide,Downpour,1.462231
10,107,6/27/07,Невідомо,Ecuador,Pichincha,5114,Landslide,Downpour,1.462231
11,109,7/1/07,Невідомо,United States,Texas,42409,Landslide,Rain,1.462231
12,115,7/4/07,Невідомо,Mexico,Veracruz-Llave,1947,Landslide,Rain,7.000000
13,119,7/8/07,Невідомо,Canada,Ontario,812129,Landslide,Unknown,1.462231
14,124,7/13/07,Night,Dominican Republic,Distrito Nacional,13456,Landslide,Unknown,1.462231
15,138,7/24/07,Невідомо,United States,Texas,175396,Landslide,Rain,1.462231
16,165,8/9/07,Невідомо,Guatemala,Guatemala,47247,Mudslide,Rain,5.000000
17,174,8/11/07,Невідомо,Jamaica,Portland,14400,Landslide,Rain,1.462231
18,185,8/14/07,Невідомо,United States,Colorado,2475,Mudslide,Rain,1.462231
19,186,8/17/07,Невідомо,Dominica,Saint Paul,702,Mudslide,Tropical cyclone,2.000000

In [11]:

a["resdat"]=pandas.to_datetime(a["date"],format="%m/%d/%y")

In [12]:
print(a)

        id     date      time   country_name  state/province  population  \
0       34   3/2/07     Night  United States        Virginia       16000
1       42  3/22/07  Невідомо  United States            Ohio       17288
2       56   4/6/07  Невідомо  United States    Pennsylvania       15930
3       59  4/14/07  Невідомо         Canada          Quebec       42786
4       61  4/15/07  Невідомо  United States        Kentucky        6903
...    ...      ...       ...            ...             ...         ...
1688  7535  12/7/15  Невідомо  United States  North Carolina        1646
1689  7537  2/22/16      0:00  United States   West Virginia       51400
1690  7539  2/23/16  Невідомо  United States   West Virginia        2406
1691  7540  2/26/16     21:06  United States   West Virginia        1048
1692  7541   3/2/16      8:00  United States         Vermont        2066

          landslide_type   trigger  fatalities     resdat
0              Landslide      Rain    1.462231 2007-03-02
1              Landslide      Rain    1.462231 2007-03-22
2              Landslide      Rain    1.462231 2007-04-06
3     Riverbank collapse      Rain    1.462231 2007-04-14
4              Landslide  Downpour    0.000000 2007-04-15
...                  ...       ...         ...        ...
1688            Rockfall       NaN    0.000000 2015-12-07
1689            Mudslide   Unknown    0.000000 2016-02-22
1690           Landslide      Rain    0.000000 2016-02-23
1691            Rockfall   Unknown    0.000000 2016-02-26
1692            Rockfall   Unknown    0.000000 2016-03-02

[1690 rows x 10 columns]

In [13]:
a['time'].value_counts()

Невідомо         1064
Night              97
Morning            87
Afternoon          58
Early morning      36
                 ...
1:13                1
9:40:00             1
11:50:00            1
                    1
21:06               1
Name: time, Length: 160, dtype: int64

In [20]:
def time_rest(x):
    if x.isalpha():
        pass
    elif x=="Early morning" or "Early morning":
        x="Morning"
    elif "evening" in x.lower():
        x='Evening'
    elif x=="overnight":
        x="Overnight"
    else:
        if int(x.split(':')[0])>12 and int(x.split(":")[0])<18:
            x="Afternoon"
        elif int(x.split(':')[0])<=12:
            x="Morning"
        else:
            x="Night"
    return x

In [21]:
a['time']=a['time'].apply(time_rest)

In [22]:
a["time"].value_counts()

Невідомо     1064
Morning       444
Night          97
Afternoon      58
Evening        10
evening         8
Overnight       6
overnight       2
Unknown         1
Name: time, dtype: int64

In [23]:
a.to_csv('clear.csv')